form[name=fe] table table tr:nth-child(even) {
    background-color: #fffff0;
}

input[type=submit], table blockquote:nth-of-type(2) input[type=button] {
    font-size: 2em;
}

.nonDefaultOn {
    font-style: italic;
}

h3 {
    border-top: 2px solid #004;
    padding-top: 5px;
}

.radioOn {
    background-color: #AFA;
}